# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Micha≈Ç Dyczkowski

1. Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL
2. Some of the commonly used libraries used by Data Scientists include:
    1. NumPy
    2. Keras
    3. Pandas

Data Science Tools |
-------------------|
Apache Spark       |
Tensor Flow        |
Tableau            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335